@charset "UTF-8";
body {
  background-color: #1D1D1D;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  background-color: #232526;
  padding: 20px 60px;
}
.header .rightMenu, .header .leftMenu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .rightMenu a, .header .leftMenu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #f4f4f4;
}
.header .rightMenu .menuBarBtn button, .header .leftMenu .menuBarBtn button {
  color: #f4f4f4;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.header .rightMenu .menuBarBtn i, .header .leftMenu .menuBarBtn i {
  font-size: 16px;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.header .logo {
  display: flex;
  gap: 15px;
}
.header .logo i {
  font-size: 30px;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.header .logo p {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-size: 30px;
}

.container {
  max-width: 1440px;
  margin: 30px auto 0;
}
.container .firstSection .mainText {
  width: 1000px;
  height: 288px;
  margin: 175px auto 0;
}
.container .firstSection .mainText p {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f4f4f4;
  text-align: center;
}
.container .firstSection .mainText p span {
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .firstSection .scrollArrow {
  display: flex;
  justify-content: center;
  margin: 165px 0 230px;
}
.container .secondSection .imagesPart {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}
.container .secondSection .textPart {
  position: relative;
  z-index: 2;
  width: 550px;
  height: 380px;
  left: 140px;
  bottom: 200px;
}
.container .secondSection .textPart h2 {
  color: #f4f4f4;
  font-weight: 400;
  font-size: 58px;
  line-height: 78px;
  letter-spacing: 0%;
}
.container .secondSection .textPart p {
  color: #B8B8B8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 60px 0;
}
.container .secondSection .textPart a {
  color: #99A9FF;
  margin-right: 20px;
  text-decoration: none;
}
.container .secondSection .textPart i {
  font-size: 20px;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .thirdSection .sectionInfoPart {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: center;
}
.container .thirdSection .sectionInfoPart h2 {
  font-weight: 400;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #f4f4f4;
  width: 680px;
}
.container .thirdSection .sectionInfoPart p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B8B8B8;
  letter-spacing: 0%;
  width: 442px;
}
.container .thirdSection .mainPart {
  margin-top: 90px;
  display: flex;
  gap: 83px;
  align-items: center;
  justify-content: center;
}
.container .thirdSection .mainPart .rightInformationSide {
  width: 511px;
}
.container .thirdSection .mainPart .rightInformationSide .nameP {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 30%;
  color: rgba(184, 184, 184, 0.5529411765);
}
.container .thirdSection .mainPart .rightInformationSide h4 {
  font-weight: 400;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #f4f4f4;
  margin: 6px 0 20px;
  width: 511px;
}
.container .thirdSection .mainPart .rightInformationSide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B8B8B8;
  letter-spacing: 0%;
}
.container .thirdSection .mainPart .viewButtonRight {
  margin-top: 45px;
}
.container .thirdSection .mainPart .viewButtonRight a {
  color: #99A9FF;
  margin-right: 8px;
  text-decoration: none;
}
.container .thirdSection .mainPart .viewButtonRight i {
  font-size: 20px;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .FourthSection {
  display: flex;
  max-width: 1160px;
  margin: 60px auto 0;
  align-items: center;
  gap: 73px;
}
.container .FourthSection .leftSide {
  width: 522px;
}
.container .FourthSection .leftSide .nameP {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 30%;
  color: rgba(184, 184, 184, 0.5529411765);
}
.container .FourthSection .leftSide h4 {
  font-weight: 400;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #f4f4f4;
  margin: 6px 0 20px;
  width: 511px;
}
.container .FourthSection .leftSide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B8B8B8;
  letter-spacing: 0%;
}
.container .FourthSection .leftSide .viewButtonRight {
  margin-top: 45px;
}
.container .FourthSection .leftSide .viewButtonRight a {
  margin-right: 8px;
  text-decoration: none;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .FourthSection .leftSide .viewButtonRight i {
  font-size: 20px;
  color: #99A9FF;
}
.container .FifthSection {
  border-top: 2px solid transparent;
  -o-border-image: linear-gradient(270.03deg, transparent 0%, #66FFE5, #99A9FF, transparent 100%);
     border-image: linear-gradient(270.03deg, transparent 0%, #66FFE5, #99A9FF, transparent 100%);
  border-image-slice: 1;
  padding-top: 30px;
  margin: 230px 0 0 140px;
}
.container .FifthSection .sectionName h2 {
  font-weight: 400;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #f4f4f4;
}
.container .FifthSection .gridPortfoliosBoxes {
  display: grid;
  grid-template-columns: 211px 211px 211px 211px;
  margin: 50px 160px 0 65px;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
.container .FifthSection .gridPortfoliosBoxes .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 40px 20px;
}
.container .FifthSection .gridPortfoliosBoxes .box p {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  vertical-align: middle;
  color: #B8B8B8;
}
.container .FifthSection .gridPortfoliosBoxes .box:hover {
  background-color: #232526;
}
.container .FifthSection .gridPortfoliosBoxes .box:hover p {
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .devsTeamSixthSection {
  display: flex;
  margin: 200px 160px 200px 65px;
  gap: 64px;
}
.container .devsTeamSixthSection .devsPhotosSide {
  display: flex;
  gap: 30px;
  padding-right: 64px;
  border-right: 1px solid transparent;
  -o-border-image: linear-gradient(to top, transparent 0%, #66FFE5, #99A9FF, transparent 100%);
     border-image: linear-gradient(to top, transparent 0%, #66FFE5, #99A9FF, transparent 100%);
  border-image-slice: 1;
}
.container .devsTeamSixthSection .devsPhotosSide .first {
  margin-top: 85px;
}
.container .devsTeamSixthSection .devsPhotosSide .first .person {
  margin-bottom: 60px;
}
.container .devsTeamSixthSection .devsPhotosSide .first .person h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #B8B8B8;
  margin: 30px 0 15px;
}
.container .devsTeamSixthSection .devsPhotosSide .first .person p {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: rgba(184, 184, 184, 0.5529411765);
}
.container .devsTeamSixthSection .devsPhotosSide .second .person {
  margin-bottom: 60px;
}
.container .devsTeamSixthSection .devsPhotosSide .second .person h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #B8B8B8;
  margin: 30px 0 15px;
}
.container .devsTeamSixthSection .devsPhotosSide .second .person p {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: rgba(184, 184, 184, 0.5529411765);
}
.container .devsTeamSixthSection .informationPart {
  background-color: #232526;
  height: 713px;
  padding: 173px 164px 121px 69px;
}
.container .devsTeamSixthSection .informationPart .textInfo h2 {
  width: 380px;
  font-weight: 400;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #f4f4f4;
  margin-bottom: 40px;
}
.container .devsTeamSixthSection .informationPart .textInfo p {
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B8B8B8;
  margin-bottom: 30px;
}
.container .devsTeamSixthSection .informationPart .textInfo .viewButtonRight {
  margin-top: 45px;
}
.container .devsTeamSixthSection .informationPart .textInfo .viewButtonRight a {
  margin-right: 8px;
  text-decoration: none;
  background-image: linear-gradient(270.03deg, #66FFE5 0.05%, #99A9FF 100%);
  /* обрезает фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный*/
  -webkit-text-fill-color: transparent;
}
.container .devsTeamSixthSection .informationPart .textInfo .viewButtonRight i {
  font-size: 20px;
  color: #99A9FF;
}